.role-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../assets/chooseback.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* ===== Boxes ===== */
.role-boxes {
  display: flex;
  gap: 200px;
}

.role-box {
  width: 350px;
  height: 350px;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 20px 40px rgba(97, 11, 11, 0.69);
}

.role-box:hover {
  transform: translateY(-10px) scale(1.05);
}


/* Image */
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
}

.overlay h2 {
  color: #fff;
  font-size: 26px;
  letter-spacing: 1px;
}

.role-box:hover .overlay {
  opacity: 1;
}

/* ===== Form ===== */
.form-box {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  animation: slideDown 0.6s ease;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
}


.form-box input,
.form-box select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
}

.form-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 14px;
  background: #6c4cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-box button:hover {
  background: #583be0;
}

/* ===== Animation ===== */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
